{% extends "layout.html" %}
{% block content %}
{% for hw in hw_200 %}

<form action="/edit/{{hw.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Index">Index</label>
            <input id="Index" type="text" class="form-control" placeholder="Index" name="Index" value="{{hw.Index}}">
        </div>
        <div class="col">
            <label for="Weight">Weight</label>
            <input id="Weight" type="text" class="form-control" placeholder="Weight"
                   name="Weight" value="{{hw.Weight}}">
        </div>
        <div class="col">
            <label for="Height">Height</label>
            <input id="Height" type="text" class="form-control" placeholder="Height" name="Height" value="{{hw.Height}}">
        </div>

    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>

{% endfor %}
{% endblock %}

