<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="description" content="This is sample Website for a Docker WebApp Project">
    <!--Bootstrap Tags-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Title in Browser-->
    {% if title %}
    <title>{{ title }} - IS601 PythonDocker Web App API</title>
    {% else %}
    <title>IS601 PythonDocker Web API</title>
    {% endif %}
</head>

<body>
    <!-- Simple Navbar
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">{{ title }}</span>
    </nav>
    -->

    <!-- Final Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home Page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="api/v1/hw">Height and Weight API</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/hw/new">Add Meassurement</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--Main Table-->
    <main role="main" class="container">{% block content %}{% endblock %}</main>

    <!--Footer-->
    <div id="footer">
        <!--Optional JavaScript-->
        <!--jQuery first, then Popper.js, then Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>
    </div>
</body>
</html>